/* Write some CSS below */


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  color: #404042;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #404042;
  opacity: .7;
}

/* Page content */
.container {
  width: 1000px;
  margin: auto;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1)), url('images/background.jpg');
  background-color: #C71585; /* Used if the image is unavailable */
  background-size: contain;
  background-position: contain;
  padding: 35px 15px;
  text-align: center;
}

.banner h1 {
  color: yellow;
  font-size: 48px;
  margin: 0;
}

.banner p {
  color: black;
  font-size: 20px;
}

.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: white;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 300px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.card-white img {
  width: 280px;
  height: 280px;
  object-fit: contain;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}

.footer {
  background: #404042;
  text-align: center;
  padding: 10px 0;
}

.footer p {
  color: white;
}

.cards {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-end;
  grid-gap: 5px;
}

.contacts-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  grid-gap: 10px;
  margin: auto;
}

<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the banner
var banner = document.getElementById("mybanner");

// Get the offset position of the navbar
var sticky = banner.offsetTop;

// Add the "sticky" class to the banner when you reach its scroll position. Remove "sticky" 

when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    banner.classList.add("sticky");
  } else {
    banner.classList.remove("sticky");
  }
}
</script>


/* The sticky class is added to the banner with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the banner 

gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 102px;
}


/* Cards media queries */
@media (max-width: 999px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    width: 800px;
  }
   .card-white {
    width: auto;
  }
}

/*For Small Screens*/ 
@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .container {
    width: 400px;
  }
   .card-white {
    width: auto;
  }
}

/*For Extra large Screens*/  
@media (min-width: 1275px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container {
    width: 1250px;
  }
   .card-white {
    width: auto;
  }
}